<hack-base-chat [headerText]="'Public Rooms'" [chatType]="'console'">
    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-center" 
        *ngFor="let room of matrixService.publicRooms" (click)="enterRoom(room)">
            {{room.name}}
            <span class="badge">
                <fa-icon [icon]="['fas', 'users']"></fa-icon>
                {{room.num_joined_members}}
            </span>
        </li>
    </ul>
</hack-base-chat>
    
