.manifesto {
    position: relative;
    overflow: hidden;
    max-width: 728px;
    padding: 24px;
    margin: 0 auto;
    word-break: break-word;
    opacity: 1;
  }

  .section {
    background: linear-gradient(white, #3a3a4d);
}

#particles-js {
  width: 100vw;
  height: 100vh;
  // top: 0;
  // left: 0;
  position: fixed;
  canvas{
    background: transparent;
  }
}