.manifesto {
    transition: max-height 1.61s linear;
    position: relative;
    overflow: hidden;
    max-width: 728px;
    padding: 24px;
    margin: 0 auto;
    word-break: break-word;
    opacity: 1;
  }

  .section {
    background: linear-gradient(white, #3a3a4d);
}