#outside-wrapper {
    min-height: 100vh;
  }
  
.flexed {
    display: flex;
    background-image: url('../../assets/hack_transparent_logo.png');
    background-repeat: no-repeat;
    background-position: top;
    background-position-y: 1rem;
  }

  amplify-authenticator {
    align-self: center;
    margin: 0 auto;
    opacity: 0.90;
  }
