    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom">
    <h3><a routerLink="/">H.A.C.K.</a></h3>
      <button class="navbar-toggler ml-auto mt-2 mt-lg-0" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
        <ul *ngIf="isSignedIn" class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li ngbDropdown class="nav-item" display="dynamic">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" ngbDropdownToggle>
              {{accountService.currentUser?.attributes.preferred_username || accountService.currentUser?.attributes.email}}
            </a>
            <div ngbDropdownMenu class="dropdown-menu-right pt-0 pb-0" aria-labelledby="navbarDropdown">
              <div class="list-group">
                  <a class="list-group-item list-group-item-action" routerLink="dashboard">
                      <amplify-button class="hydrated">Dashboard</amplify-button>
                  </a>
                  <a class="list-group-item list-group-item-action"><amplify-sign-out></amplify-sign-out></a>
              </div>
            </div>
          </li>
        </ul>

        <ul *ngIf="!isSignedIn" class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li ngbDropdown class="nav-item" display="dynamic">
                <a routerLink="dashboard" class="btn btn-outline-dark">Members</a>
            </li>
          </ul>
      </div>
    </nav>

<router-outlet></router-outlet>

<hack-chat-console></hack-chat-console>