<div id="particles-js"></div>
<div class="section">
  <div class="documents" [ngSwitch]="documentPage">
    <div *ngSwitchCase="'manifesto'">
      <h3>Our Manifesto</h3>
      <p>Since the beginning of human civilization, progress has been slow and steady. Time allowed for each new innovation to mature and be adopted by society at a pace even the most conservative could appreciate. But with the creation of the internet and the dawn of the digital era, innovation has had an explosive growth. Slow adaptation, in turn, has lead to perilous consequences.</p>
  
      <p>Sectors such as energy, politics, healthcare, and education, among others, are set in archaic ways. While technology has positively improved these fields, the institutions themselves have not evolved to benefit life in the 21st century. The U.S. electoral college, for example, was created to combat poor literacy, slow communication channels, and other obstacles of the 18th century. Today it allows the voice of the few to overpower the voice of the many. Ancient policies and antiquated thinking causes many institutions to lack in efficiency, fairness, and robustness in the current age.</p>
  
      <p>Systems that worked for our parents and grandparents simply will not work for us. Guarantees of higher degrees leading to well-paying jobs are proving false: leading to more young adults in massive debt, school administrators rich beyond measure, and banks with a new generation to target with their parasitic practices.</p>
  
      <p>Just as old software is more prone to vulnerabilities, old policies and systems are more prone to corruption and exploitation. Continued dependence on oil as a major energy source lead to the destruction of ecosystems, creating environmental unbalance. This problem is systemic. The easiest example is the complacency surrounding climate change while we simultaneously experience increasingly extreme weather. The Amazon Rainforest, also known as the “Lungs of the Earth,” are literally burning so that cow ranchers can have more land to make more money. Meanwhile, environmental regulations are loosened so that large corporations can grab more profit - even at the expense of their workers. After all, how can the longevity of the human race and life on Earth hope to compete with increased profit margins?</p>
  
      <p>The traditional systems are no longer serving the people. Politics and greed are running rampant, which causes major issues that continue to be neglected by those in power who can actually influence change. Even existential threats are being ignored, simply because it is convenient and more profitable to ignore them. These issues lurk under the surface and are buried deep within other problems which are more obviously seen. Frequent mass shootings are a scary reality, but the root problem is not the individual shooters. There is a reason why NRA membership spikes up when a mass shooting happens: massive gun lobby interest groups constantly push the weapons instead of allowing proper firearm education and reform to happen. This conduces an unsafe environment for the public. All for the sake of profit.</p>
  
      <p>These issues affect everyone. The butterfly effect of a legislative bill, a lowered standard of conduct, and even a new corporate regulation can and will have an inevitable effect on our society and the individuals that make it up. A poem written by Martin Niemöller circa in 1945 illustrates this point perfectly:</p>
  
      <br>
      <p class="text-center font-italic">
              First they came for the Socialists, and I did not speak out—
              <br>
              Because I was not a Socialist.
              <br>
              <br>
              Then they came for the Trade Unionists, and I did not speak out—
              <br>
              Because I was not a Trade Unionist.
              <br>
              <br>
              Then they came for the Jews, and I did not speak out—
              <br>
              Because I was not a Jew.
              <br>
              <br>
              Then they came for me—and there was no one left to speak for me.</p>
          <br>
  
      <p>This pattern of willful ignorance must be broken. It will always be easier and more convenient to allow injustice to occur, but the backlash of intolerance will inevitably spread to include what is dear to you. The deterioration of our systems is spreading faster than most people realize. Continued inaction will poison the well from which we drink, making everyone incurably sick in the end. Instead of letting this fester like a disease, we seek to understand and address the root causes of these problems.</p>
  
      <p>We see how the average person is struggling - their suffering ignored. We see how greedy corporations are constantly trying to cheat their way into maintaining control. We see how politicians lie to the people saying that some new bill will help everyone, when in fact, it will only help the elite. We see how our freedoms, our security, our agency, and our power is being slowly stripped in order to maintain the status quo.</p>
  
      <p>This is a rigged system that benefits those in positions of power. By turning a blind eye, we are condoning their actions and allowing them to take more and more of our liberties. If this continues, we will be left desolate, deprived, and reduced to a state less than human while we slave away for the people in control.</p>
  
      <p>These problems are too deeply ingrained in our system to root out. Unless a massive awakening happens or a literal revolution occurs, simply demanding will not work. The system is structured to protect itself from change; this allows those who profit from the existing exploits to remain in their positions. We may occasionally have small victories, but the problem still persists.</p>
  
      <p>Protests and marches have proven futile. Instead, we must act more strategically. Acting in a violent and destructive way will be used against us. Instead, we must outsmart and out-innovate them. Pull the rug from under their empire and celebrate as it comes tumbling down.</p>
  
      <p>We must fight. Not with our fists, but with our minds. We must find a way to help each other without the traditional institutions in order to save ourselves and our children. We can leverage modern technology to further our cause and use their networks and infrastructures to create a better system. A system with  equality and unity in mind. <span class="bluebold">Only through relentless innovation and unapologetic creativity can we accomplish this.</span></p>
  
      <p>Together, we will create a network of fighters hell-bent on advancing civilization for the better. Lets come together, have open discussions, collaborate on initiatives, and execute ideas aimed at solving the many problems our world is facing. We’ll form hackerspaces and host events that will ignite innovation. Be it software, hardware, marketing campaigns, stories, artwork, etc., we will strive to be trailblazers in our fields and leverage cutting edge ideas to make our world a better place.</p>
  
      <p>We see a world where we look at the impossible and smile because we know that whatever challenge we may face, we can overcome it. To borrow from Star Trek, let’s dare to “Boldly go where no one has gone before,” and build a better world apart from the petty politics and cash grabs. This can happen <span class="bluebold">IF</span> we stand united. <br> The current of change is ever flowing. Let’s ride this river together.</p>
    </div>

    <div *ngSwitchCase="'hackersCharge'">
      <h3>The Hacker's Charge</h3>
      <p>The hacker. A unique type of person made dangerous by their ability to use their intellect and creativity. We hackers wield this power in ways others are both amazed with and terrified of. Grounded in reality and thinking of the extraordinary, we are limited only by our own imagination.</p>
      
      <p>We, the creators of civilization, we have been around from the beginning. We have been called magicians and alchemists, pioneers and polymaths, asking a simple question: "What if?". With every invention we bring into the world, we make it better, smarter, and faster.</p>
      
      <p>We challenge the status quo, and create things that are helpful, awesome, wanted, needed, or just plain fun. We are native problem solvers, who's driven by curiosity and exploration. But unfettered creation leads to chaos, and with this, we must be responsible.</p>
      
      <p>As it is in our nature to build, we must also make it our responsibility to protect those who play in our domain. Others, led by fear or greed will pervert our creations. We must disspell their fear, and show them our vision.</p>
      
      <p>The world is our playground with infinite possibilities. There are problems to be solved in this world and beyond, so lets do what comes natural to us, and solve them. For then we will chart out new territory for future hackers to carry the torch of innovation.</p>
    </div>

    <div *ngSwitchDefault>
      <h3>Documents</h3>
      <ul>
        <li>
          <a [routerLink]="['/document']" [queryParams]="{ type: 'manifesto'}">Manifesto</a>
        </li>
        <li>
          <a [routerLink]="['/document']" [queryParams]="{ type: 'hackersCharge'}">The Hacker's Charge</a>
        </li>
      </ul>
    </div>

    <p class="bluebold text-center">We are Hackers for the Advancement of Civilization and Knowledge.</p>
      <br>
          <img style="display: block; margin: 0 auto;" src="assets/hack_transparent_logo.png" alt="hack_logo">
      <br>
  </div>
</div>
