/* You can add global styles to this file, and also import other style files */
p {
    font-size: 21px;
    line-height: 1.6;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 400;
    letter-spacing: -0.004em;
    margin-top: 1.618em;
}