<section id="splash">
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="splash-title">Hackers for the Advancement of Civilization and Knowledge</h4>
        </div>
    </div>
    <div class="row">
      <div class="col" id="draw-area">
        <hack-interactive-logo></hack-interactive-logo>
      </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <a routerLink="dashboard" class="btn btn-outline-primary center-action-btn">Join Us</a>
        </div>
    </div>
</div>
</section>
<hr>
<section>
  <div class="section">
    <h4 class="text-center">About Us</h4>
    <div class="manifesto">
      <p>H.A.C.K. is an organization driven by individuals who are dedicated to advancing humanity through innovation and collaboration. 
        Our purpose is to cultivate the mind, allowing the individual to unlock their limitless potential to create, make, and hack the world around them. 
        We do this by pooling together people from all walks of life and empowering them with the tools and resources needed to actualize their initiatives.</p>
      <p>It's a hackerspace fueled by open discussion and relentless innovation, 
        and a social club that serves to encourage its members to utilize our network to bring their ideas to life, 
        including ones that may save the world. Members recognize that the world around them is theirs to shape, 
        and strive to apply their strengths to push their abilities to the max. Together, our creative power is limitless, 
        utilizing collaboration as our greatest strength. Together we can build a future that we are proud to be in.</p>
    </div>
</div>
</section>
<section id="socials" class="section">
  <p>Chat with us</p>
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center">
        <a href="https://discordapp.com/invite/rEETHyx">
          <fa-icon [icon]="['fab', 'discord']" class="fa-lg"></fa-icon>
        </a>
      </div>
      <div class="col text-center">
        
        <a href="https://t.me/HackRelentless">
          <fa-icon [icon]="['fab', 'telegram']" class="fa-lg"></fa-icon>
        </a>
      </div>
      <div class="col text-center">
        <a href="https://twitter.com/HackRelentless">
          <fa-icon [icon]="['fab', 'twitter']" class="fa-lg"></fa-icon>
        </a>
      </div>
      <div class="col text-center">
        <a href="https://www.instagram.com/hackrelentless">
          <fa-icon [icon]="['fab', 'instagram']" class="fa-lg"></fa-icon>
        </a>
      </div>
      <div class="col text-center">
        <a href="https://www.facebook.com/HackRelentless">
          <fa-icon [icon]="['fab', 'facebook']" class="fa-lg"></fa-icon>
        </a>
      </div>
    </div>
  </div>
</section>
<hr>
<!-- <section>
  <div class="section">
    <h4 class="text-center">Manifesto</h4>
    <div class="manifesto">
        <p>Since the beginning of human civilization, progress has been slow and steady. Time allowed for each new innovation to mature and be adopted by society at a pace even the most conservative could appreciate. But with the creation of the internet and the dawn of the digital era, innovation has had an explosive growth. Slow adaptation, in turn, has lead to perilous consequences...</p>
        <br>
        <a routerLink="document" class="btn btn-outline-primary text-center">Continue Reading Manifesto</a>

    </div>
  </div>
</section>
<hr> -->
<section id="chapters">
  <h4 class="text-center">Find A Chapter</h4>
  <div class="container-fluid mb-lg-4">
      <hack-chapter-map></hack-chapter-map>
  </div>
</section>
<section id="event-feed"></section>