#draw-area {
    height: 61vh;
}

.splash-title {
    margin: 0 auto;
    text-align: center;
    font-size: 1.61rem;
    margin-top: 1.61rem;
}

.splash-join {
    margin: 0 auto;
    margin-bottom: 1.61rem;
}