<div id="outside-wrapper">
  <div [class.toggled]="isSidebarToggled" class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Sidebar</div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"></a>
        <a href="#" class="list-group-item list-group-item-action bg-light"></a>
      </div>
    </div>

    <!-- Sidebar Button -->
    <div class="sidebar-toggler" (click)="isSidebarToggled = !isSidebarToggled" id="menu-toggle">
      <fa-icon *ngIf="isSidebarToggled" [icon]="['fas', 'chevron-left']" class="fa-lg"></fa-icon>
      <fa-icon *ngIf="!isSidebarToggled" [icon]="['fas', 'chevron-right']" class="fa-lg"></fa-icon>
    </div>

    <div id="page-content-wrapper">
       <!-- Main Content -->
      <div class="container-fluid p-3">
        <hack-account-settings></hack-account-settings>
      </div>
    </div>

  </div>
</div>
